<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">Lorem ipsum dolor sit <span appHighlight>amet consectetur adipisicing elit. Possimus eveniet cupiditate </span> animi, voluptatem tempore facilis ex quibusdam praesentium consequuntur veniam minus quos eligendi soluta cum ab quo doloribus et. Magnam!</p>
  <p class="text-xs">Numero de clientes  <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"></app-counter></p>
  <div>
    <app-wave-audio audioUrl="assets/audio/audio.mp3"></app-wave-audio>
  </div>
</div>

